.header {
    border-bottom: 1px solid white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1.2;
        padding: 0.5rem;
    }

    .header-link {
        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    .header-nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .header-nav-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;
            width: 50%;
        }
    }
}
