.inline-form {
    width: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .button {
        font-size: 0.875rem;
        line-height: 1.4286;
        font-family: monospace;
    }

    .resizing-input {
        padding: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        box-sizing: content-box;
        font-family: monospace;
        background-color: inherit;
        font-size: 0.875rem;
        line-height: 1.4286;
        width: auto;
        outline: none;
        border: none;
    }

    .resizing-input-bordered {
        background-color: var(--bordered-background-color);
        border: var(--bordered-border);
        border-radius: var(--bordered-border-radius);
    }

    .resizing-input-bordered:hover {
        background-color: var(--bordered-hover-background-color);
        border-color: var(--bordered-hover-border-color);
    }
}


.inline-form::-webkit-scrollbar {
    display: none;
}