.button {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.125rem;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        opacity: 40%;
        cursor: not-allowed;
    }
}

.button-bordered {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;

    &:hover {
        background-color: var(--text-color);
        color: var(--background-color);
        border-color: var(--text-color);
        cursor: pointer;
    }
}
