.header {
    border-bottom: 1px solid white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-link {
        font-weight: 500;
        font-size: 1.25rem;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    .header-title {
        padding: 0.5rem;

        .header-link {
            font-size: 1.875rem;
            line-height: 1.2;
            font-weight: 700;
        }
    }

    .header-nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .header-nav-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style: none;
            width: 50%;
        }
    }

    .user-avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: var(--bordered-border);

        &:hover {
            border-color: var(--bordered-hover-border-color);
            box-shadow: 0 0 3px 0 var(--bordered-hover-border-color);
            scale: 1.05;
        }
    }

    .szh-menu {
        background-color: var(--bordered-background-color);
        outline: var(--bordered-border);
        border-radius: 0.25rem;
        box-shadow: 0 0 2px 0 var(--bordered-hover-border-color);

        .user-menu-item {
            list-style: none;
            padding: 0.85rem;

            &:hover {
                background-color: var(--bordered-hover-background-color);
                color: var(--text-color);
                cursor: pointer;
            }
        }
    }

}
