.inline-form {
    width: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .button {
        font-size: 0.875rem;
        line-height: 1.4286;
        font-family: monospace;

        &:hover {
            cursor: text;
        }
    }

    .button-bordered {
        &:hover {
            cursor: pointer;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.resizing-input {
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: content-box;
    font-family: monospace;
    background-color: inherit;
    font-size: 0.875rem;
    line-height: 1.4286;
    width: auto;
    outline: none;
    border: none;

    &::placeholder {
        color: var(--text-color);
    }
}

.resizing-input-bordered {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;

    &:hover, &:focus {
        /* background-color: var(--border-color); */
        /* border-color: var(--text-color); */
    }
}
