.login {
    flex-direction: row !important;

    .login-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.5rem;
        padding: 1rem;

        .login-form-input {
            padding: 0.5rem;
            border: 1px solid var(--border-color);
            border-radius: 0.25rem;
            color: var(--text-color);
        }

        .login-form-button {
            padding: 0.5rem;
            border: 1px solid var(--border-color);
            border-radius: 0.25rem;
            color: var(--text-color);

            &:hover, &:focus {
                background-color: var(--text-color);
                border-color: var(--text-color);
                color: var(--background-color);
                text-decoration: underline;
            }
        }

        .login-form-error {
            color: red;
        }
    }
}
