.login {
    flex-direction: row !important;

    .login-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.5rem;
        padding: 1rem;

        .login-form-input {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
        }

        .login-form-button {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
        }

        .login-form-error {
            color: red;
        }
    }
}
