* {
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

html,
body,
#root {
    --background-color: #F4E7E1;
    --accent-color: #FF9B45;
    --border-color: #D5451B;
    --text-color: #521C0D;

    height: 100%;
    background-color: var(--background-color);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

[data-theme="dark"] {
    --background-color: #0C0C0C;
    --border-color: #481E14;
    --accent-color: #9B3922;
    --text-color: #F2613F;
}

main {
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

button {
    background: none;
    border: none;
    box-shadow: none;
}
