.products {
    width: max-content;
    min-width: 50%;
    max-width: calc(100% - 0.75rem);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .no-products {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .no-products-text {
            width: max-content;
        }
    }

    .product-controls-container {
        padding-top: 0.5rem;
        margin: 0.5rem;
    }
}